.section-contacts {
    background-color: $color-bg-section;
    padding-top: 60px;

    &-layout {
        display: flex;
    }

    &__img {
        width: 100%;
        max-width: 400px;
        margin-right: 113px;
        margin-bottom: -4px;
    }

    &__title {
        font-weight: 700;
        margin-right: 64px;
    }

    &__dropdown {
        margin-top: 88px;
    }

}