.section-service {
    background-color: $color-bg-section;
    padding: 40px 0 68px 0;

    &__heading {
        display: flex;
        align-items: center;
        margin-bottom: 80px;

        @include media-tablet-wide {
            flex-direction: column;
            align-items: flex-start;
        }

        @include media-tablet {
            flex-direction: column;
            align-items: flex-start;
        }

        &-title {
            margin-right: 142px;

            @include media-tablet-wide {
                margin-bottom: 40px;
                font-size: 3.5rem;
                line-height: 4.6rem;
            }

            @include media-tablet {
                margin-bottom: 40px;
                font-size: 3.5rem;
                line-height: 4.6rem;
            }
        }

        ;

        &-buttons {
            margin-right: 180px;
            display: flex;

            &-item {
                background-color: $color-bg-section;
                margin-right: 38px;

                &:hover {
                    background-color: $color-orange;
                    color: $color-white;
                }
            }
        }

        ;

    }
}

.gallery {
    @include columns($width: 27%);

    @include media-tablet {
        @include columns($width: 48%);
    }
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 55px;
    width: 100%;
    max-width: 330px;

    &__img {
        width: 100%;
        max-width: 330px;

        @include media-tablet {
            max-width: 280px;
            width: 100%;
            height: 350px;
        }
    }

    &__rectangle {
        box-sizing: border-box;
        padding: 12px 0 36px 0;
        width: 100%;
        max-width: 330px;
        border: 1px solid #E3E1D5;
        border-radius: 0px 0px 20px 20px;

        @include media-tablet {
            max-width: 280px;
            max-height: 100px;
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__title {
        margin-bottom: 12px;
    }

    &__info {
        padding: 0 8px 0 8px;
        color: $color-grey;
        text-align: center;
    }
}