$color-green: #499A18;
$color-orange: #E06733;
$color-grey: #717171;
$color-dark-grey: #636060;
$color-black: #000000;
$color-bg-section: #EDF2EC;
$color-link: #010201;

$content-width: 1222px;
$tablet-width: 768px;
$mobile-width: 380px;

