.header {
    background: $color-bg-section;
    padding: 60px 0 42px 0;
    font-family: inika;
    font-weight: 400;

    @include media-tablet {
        padding: 48px 0 47px 0;
    }

    @include media-mobile {
        padding: 34px 0 36px 0;
    }

}

.logo {
    display: inline-flex;
    align-items: baseline;
}

.header__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-list {
    display: flex;

    @include media-mobile {
        display: none;
    }
}

.nav-item {
    list-style: none;
    margin-right: 46px;

    &:last-child {
        margin-right: 0;
    }
}

.nav-link {
    color: $color-link;

    &:hover {
        color: $color-orange;
        font-weight: 700;
    }

    &_selected {
        color: $color-orange;
        font-weight: 700;
    }
}