html {
  box-sizing: border-box;
  font-size: 10px;
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
}

body {
  font-size: 1.6rem;
  font-family: inter, "serif", "sans-serif";
  font-weight: 400;
}

input[type=text],
input[type=phone],
input[type=email],
textarea {
  appearance: none;
}
input[type=text]:focus,
input[type=phone]:focus,
input[type=email]:focus,
textarea:focus {
  outline: none;
}

button {
  cursor: pointer;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}
a:hover {
  text-decoration: none;
}

h1 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 45px;
  line-height: 50px;
  color: #717171;
}

h2 {
  font-family: "Inika";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 52px;
  color: #499A18;
}

h3 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  text-align: right;
  color: #000000;
}

h4 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  text-align: center;
  color: #E06733;
}

h5 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  color: #000000;
}

@font-face {
  font-family: inika;
  src: url("../../src/fonts/Inika-Regular.ttf");
  font-weight: 400;
}
@font-face {
  font-family: inika;
  src: url("../../src/fonts/Inika-Bold.ttf");
  font-weight: 700;
}
@font-face {
  font-family: inter;
  src: url("../../src/fonts/Inter-Regular.ttf");
  font-weight: 400;
}
@font-face {
  font-family: inter;
  src: url("../../src/fonts/Inter-Bold.ttf");
  font-weight: 700;
}
.wrapper {
  max-width: 1222px;
  margin: auto;
}

.header {
  background: #EDF2EC;
  padding: 42px 0 42px 0;
  font-family: inika;
  font-weight: 400;
}

.header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-list {
  display: flex;
}

.nav-item {
  list-style: none;
  margin-right: 46px;
}
.nav-item:last-child {
  margin-right: 0;
}

.nav-link {
  color: #010201;
}
.nav-link:hover {
  color: #E06733;
  font-weight: 700;
}
.nav-link_selected {
  color: #E06733;
  font-weight: 700;
}

.layout-3-columns {
  display: flex;
  justify-content: space-between;
  padding: 40px 0 40px 0;
}

.footer-data__info {
  margin-right: 20px;
}

.social-list {
  display: flex;
}

.social-list__item {
  list-style: none;
  margin-right: 20px;
}
.social-list__item:last-child {
  margin-right: 0;
}

.button {
  padding: 12px 40px;
  border-radius: 5px;
  border: 1px solid #E06733;
  font-family: "Inika";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  color: #E06733;
}

.button-black-text {
  background-color: #EDF2EC;
  padding: 12px 27px;
  border: 2px solid #E06733;
  border-radius: 10px;
  text-transform: uppercase;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
}
.button-black-text:hover {
  color: #FFFFFF;
  background-color: #E06733;
}

.accordion__btn {
  width: 16px;
  height: 16px;
}

.dropdown-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 17px;
  width: 100%;
  max-width: 450px;
  height: 50px;
  background: #D6E7D2;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.dropdown-container__info {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 40px;
  letter-spacing: 0.05em;
  color: #636060;
}
.dropdown-container__btn {
  background: #717171;
}
.dropdown-container__btn_arrow {
  color: #FFFFFF;
}

.section-welcome {
  background-color: #EDF2EC;
  padding: 62px 0 62px 0;
}

.section-welcome__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.section-welcome__img {
  margin-right: 222px;
  width: 100%;
  max-width: 449;
}

.section-welcome__title {
  margin-bottom: 42px;
  line-height: 50px;
}

.section-welcome__title_green {
  color: #499A18;
}

.section-welcome__description {
  margin-bottom: 48px;
  font-size: 20px;
  line-height: 35px;
}

.section-contacts {
  background-color: #EDF2EC;
  padding-top: 60px;
}
.section-contacts-layout {
  display: flex;
}
.section-contacts__img {
  width: 100%;
  max-width: 400px;
  margin-right: 113px;
}
.section-contacts__title {
  font-weight: 700;
  margin-right: 64px;
}
.section-contacts__dropdown {
  margin-top: 88px;
}

.section-about {
  padding: 93px 0 94px 0;
}

.layout-2-columns {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.layout-2-columns__info {
  margin-right: 155px;
}
.layout-2-columns__title {
  margin-bottom: 40px;
}
.layout-2-columns__title_orange {
  color: #E06733;
}
.layout-2-columns__description {
  font-size: 20px;
  line-height: 30px;
}
.layout-2-columns__image {
  width: 100%;
  max-width: 464px;
}

.section-service {
  background-color: #EDF2EC;
  padding: 40px 0 121px 0;
}
.section-service__heading {
  display: flex;
  align-items: center;
  margin-bottom: 92px;
}
.section-service__heading-title {
  margin-right: 142px;
}
.section-service__heading-buttons {
  margin-right: 215px;
  display: flex;
}
.section-service__heading-buttons-item {
  background-color: #EDF2EC;
  margin-right: 38px;
}
.section-service__heading-buttons-item:hover {
  background-color: #E06733;
  color: #FFFFFF;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.gallery > * {
  flex-basis: 27%;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 55px;
}
.card__img {
  width: 100%;
  max-width: 330px;
}
.card__rectangle {
  box-sizing: border-box;
  padding: 10px 0 36px 0;
  width: 100%;
  max-width: 330px;
  border: 1px solid #E3E1D5;
  border-radius: 0px 0px 20px 20px;
}
.card__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card__title {
  margin-bottom: 10px;
}
.card__info {
  padding: 0 8px 0 8px;
}

.section-prices {
  padding: 30px 0 115px 0;
}

.section-prices-layout {
  display: flex;
  justify-content: space-between;
}

.prices-column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.prices-column__title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  text-align: right;
  color: #000000;
  margin-bottom: 60px;
}

.prices-column__list {
  box-sizing: border-box;
  padding: 34px 41px;
  max-width: 332px;
  max-height: 282px;
  border: 1px solid #E3E1D5;
  border-radius: 20px;
}
.prices-column__list-item {
  display: flex;
  justify-content: space-between;
  padding: 16px 40px;
  align-items: center;
  width: 250px;
  height: 50px;
  background: #EDF2EC;
  border-radius: 20px;
  margin-bottom: 32px;
}

.context-column {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.context-column__title {
  margin-bottom: 38px;
}
.context-column__title-green {
  color: #499A18;
}
.context-column__button {
  background-color: #FFFFFF;
  font-weight: 700;
  padding: 12px 30px;
  margin-bottom: 39px;
}

/*# sourceMappingURL=style.css.map */
