.burger {
    display: none;

    @include media-small {
        display: flex;
        align-items: center;
    }

    &__field {
        @include media-small {
            padding: 11px 0;
            cursor: pointer;
        }

        &-line {
            @include media-small {
                display: block;
                width: 40px;
                height: 2px;
                margin-bottom: 6px;
                background-color: $color-grey;
                transition: 0.2s;
            }
        }
    }
}