@font-face {
  font-family: 'Arial-MT';
  src: url("fonts/Arial-MT.woff");
  /* Путь к файлу со шрифтом */
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-width: 480px;
  min-height: 100vh;
  font-family: 'Arial', sans-serif;
  font-size: 16px;
  color: #fff;
  text-align: center;
  background: center/cover, no-repeat, rgba(0, 0, 0, 0.5);
  background-blend-mode: multiply;
  transition: background-image 1s ease-in-out;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: inherit;

  &:hover {
    text-decoration: none;
  }
}

button {
  cursor: pointer;
  font-size: 16px;
}

input[type='range'] {
  -webkit-appearance: none !important;
  background: #fff;
  border-radius: 5px;
  height: 6px;

}

input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none !important;
  background: #fff;
  height: 12px;
  width: 12px;
  border-radius: 5px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  height: 30vh;
  min-height: 220px;
  padding: 20px;
}

.player-controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 170px;
  margin-bottom: 28px;
}

.play-list {
  text-align: left;
}

.play-item {
  position: relative;
  padding: 5px;
  padding-left: 20px;
  list-style: none;
  opacity: .8;
  cursor: pointer;
  transition: .3s;
}

.play-item:hover {
  opacity: 1;
}

.play-item::before {
  content: "\2713";
  position: absolute;
  left: 0;
  top: 2px;
  font-weight: 900;
}

.item-active::before {
  color: #C5B358;
}

.player-icon,
.slider-icon,
.change-quote {
  width: 32px;
  height: 32px;
  background-size: 32px 32px;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: transparent;
  border: 0;
  outline: 0;
  opacity: .8;
  cursor: pointer;
  transition: .3s;
}

.player-icon:hover,
.slider-icon:hover,
.change-quote:hover {
  opacity: 1;
}

.player-icon:active,
.slider-icon:active,
.change-quote:active {
  border: 0;
  outline: 0;
  transform: scale(1.1);
}

.play {
  width: 40px;
  height: 40px;
  background-size: 40px 40px;
  background-image: url("svg/play.svg");
}

.pause {
  background-image: url("svg/pause.svg");
}

.play-prev {
  background-image: url("svg/play-prev.svg");
}

.play-next {
  background-image: url("svg/play-next.svg");
}

.play-time-container {
  display: flex;
  margin-top: 20px;
  margin-bottom: 10px;
  justify-content: space-between;
  align-items: center;
}

.progress-container {
  background: #fff;
  border-radius: 5px;
  width: 100%;
  height: 5px;
  display: flex;
  align-items: center;
  cursor: pointer;

  .progress {
    background: gray;
    border-radius: 5px;
    height: 4px;
  }
}

.volume-container {
  margin-top: 20px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.volume-progress-container {
  background: #fff;
  border-radius: 5px;
  width: 70%;
  height: 5px;
  display: flex;
  align-items: center;
  cursor: pointer;

  .volume-progress {
    background: gray;
    border-radius: 5px;
    height: 4px;
  }
}

.volume-sound {
  background-image: url("img/icon-sound.png");
  width: 30px;
  height: 30px;
}

.volume-mute {
  background-image: url("img/icon-mute.png");
  width: 30px;
  height: 30px;
}

.weather {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  row-gap: 5px;
  width: 180px;
  min-height: 180px;
  text-align: left;
}

.weather-error {
  margin-top: -10px;
}

.description-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  column-gap: 12px;
}

.weather-icon {
  font-size: 44px;
}

.city {
  width: 170px;
  height: 34px;
  padding: 5px;
  font-size: 20px;
  line-height: 24px;
  color: #fff;
  border: 0;
  outline: 0;
  border-bottom: 1px solid #fff;
  background-color: transparent;
}

.city::placeholder {
  font-size: 20px;
  color: #fff;
  opacity: .6;
}

.main {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40vh;
  min-height: 260px;
  padding: 20px;
}

.slider-icon {
  position: absolute;
  top: 50%;
  margin-top: -16px;
  cursor: pointer;
}

.slide-prev {
  left: 20px;
  background-image: url("svg/slider-prev.svg");
}

.slide-next {
  right: 20px;
  background-image: url("svg/slider-next.svg");
}

.time {
  min-height: 124px;
  margin-bottom: 10px;
  font-family: 'Arial-MT';
  font-size: 100px;
  letter-spacing: -4px;
}

.date {
  min-height: 28px;
  font-size: 24px;
  margin-bottom: 20px;
}

.greeting-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: stretch;
  align-items: center;
  min-height: 48px;
  width: 100vw;
  font-size: 40px;
}

.greeting {
  flex: 1;
  padding: 10px;
  text-align: right;
}

.name {
  flex: 1;
  max-width: 50%;
  padding: 10px;
  font-size: 40px;
  text-align: left;
  color: #fff;
  background-color: transparent;
  border: 0;
  outline: 0;
}

.name::placeholder {
  color: #fff;
  opacity: .6;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  min-height: 160px;
  padding: 20px;
}

.change-quote {
  margin-bottom: 30px;
  background-image: url("svg/reload.svg");
}

.quote {
  min-height: 32px;
}

.author {
  min-height: 20px;
}

.settings {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  padding-top: 20px;
}

.todo-select {
  position: relative;
}

.todo-button {
  padding: 5px;
  background-color: transparent;
  border: none;
  color: #fff;
}

.todo-container {
  display: none;
  position: absolute;

  &-active {
    position: absolute;
    display: flex;
    flex-direction: column;
    height: auto;
    width: 320px;
    background: #fff;
    border-radius: 5px;
    padding: 10px;    
    left: -380%;
    bottom: 120%;
    color: #332e2e;

    button {
      cursor: pointer;
      background-color: transparent;
      border: 1px solid #332e2e;
      border-radius: 3px;
      margin-left: 8px;   
      padding: 2px 5px;     
      font-size: 12px;  
    }

    input {
      border: none;
      border-bottom: 1px solid #332e2e;      
      padding: 2px 5px; 
      
    }
  }
}

.task {
  width: 80%;
}

.todo-header-form {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.todo-header {
  margin-bottom: 10px;
  color: #332e2e;
}

.todo-header-input {
  width: 90%;
}

.task-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5px;
}

.actions {
  display: flex;
  justify-content: space-between;
}

.todo-done {
 text-decoration: line-through;
}


@media (max-width: 768px) {
  .time {
    min-height: 80px;
    font-size: 72px;
  }

  .greeting-container {
    min-height: 40px;
    font-size: 32px;
  }

  .greeting {
    padding: 5px;
  }

  .name {
    font-size: 32px;
    padding: 5px;
  }
}